/* You can add global styles to this file, and also import other style files */
.card {
    margin-top: 10px!important;
}

body {
    background: #8cbdea52 !important;
}
.btn {
    background: #0080ff !important;
    color: #fff !important;
}

app-list-restaurants pagination-controls pagination-template .ngx-pagination {
    background: #fff;
    width: 75%;
    margin: auto;
    border: 1px solid #000;
    text-align: right;
  }